# File extensions
*.pt
*.pth
*.ckpt
*.jpeg
*.tar
*.lock
*.bin
*.out

# Directories
.ipynb_checkpoints/
/recalls
/re-recalls
/scratch-recalls
/scratch-re-recalls
**/__pycache__/
checkpoints/
slurm_outputs/
pythia*
